cloudenvy:
  keypair_name: foo #optional - defaults to your local username
  keypair_location: /Users/foo/.ssh/id_rsa.pub #optional - defaults to ~/.ssh/id_rsa.pub

  clouds:
    env4:
      os_username: username
      os_password: password
      os_tenant_name: tenant_name
      os_auth_url: http://urltokeystoneendpoint:5000/v2.0/
