# This file belongs at ~/.cloudenvy.yml
cloudenvy:
  clouds:
    cloud01:
      os_username: username
      os_password: password
      os_tenant_name: tenant_name
      os_auth_url: http://keystone.example.com:5000/v2.0/

      # Optional
      #os_region_name: RegionOne

  #Optional
  #keypair_name: your_keypair_name
  #keypair_location: /path/to/your/public/key
