project_config:
  name: foo
  image: Ubuntu 12.04 cloudimg amd64

  # Optional
  #remote_user: ubuntu
  #flavor_name: m1.small
  #auto_provision: False
  provision_scripts:
    #- provision_script.sh
